<div class='global-feed-wrap'>

  <div class='posts'>
    <div class='all-posts'>
      <a class='my-posts'
         routerLinkActive='active'
         [routerLink]="['/']"
      >
        Мои посты
      </a>
      <a class='all-posts'
         routerLinkActive='active'
         [routerLink]="['/']"
      >
        Общие посты
      </a>
    </div>

    <div class='feed'>
      <app-feed [apiUrl]='apiUrl'></app-feed>
    </div>
  </div>

  <div class='tags'>
    <p>
      Популярные теги
    </p>
    <p>
      Пока нет ни одного тега
    </p>
  </div>

</div>
