.global-wrap
  margin-left: 200px
  .posts
    margin: 40px 0 10px 0
    .all-posts
      color: var(--primary-color)
      font-weight: 600
  a
    color: var(--dark-gray-color)
    font-size: 16px
    margin: 0 15px
  .incoming-components
    display: flex
    .feed
      margin-right: 96px
