<div class='auth-page'>
  <h1 class='title'>
    Регистрация
  </h1>
  <p class='text'>
    <a [routerLink]="['/login']">
      Есть аккаунт?
    </a>
  </p>
  <mc-backend-error-messages *ngIf='backendErrors$ | async'
                             [backendErrors]='backendErrors$ | async'
  >
  </mc-backend-error-messages>
  <form [formGroup]='form'
        (ngSubmit)='onSubmit()'
  >
    <div>
      <input type='text'
             placeholder='Введите ваше имя'
             formControlName='username'
      />
    </div>
    <div>
      <input type='text'
             placeholder='Введите ваш email'
             formControlName='email'
      />
    </div>
    <div>
      <input type='password'
             placeholder='Введите ваш пароль'
             formControlName='password'
      />
    </div>
    <button type='submit'
            [disabled]='isSubmitting$ | async'
    >
      Зарегистрироваться
    </button>
  </form>
</div>
