.navbar
  height: 55px
  display: flex
  justify-content: space-between
  align-items: center
  .logo
    margin-left: 75px
    font-size: 25px
    font-weight: 600
    a
      color: var(--primary-color)

  .list
    display: flex
    justify-content: space-between
    align-items: center
    width: 200px
    margin-right: 75px
    list-style: none
    .link a
      color: var(--dark-gray-color)
    .link a.active
      color: var(--dark-color)
      font-weight: 400
