.pagination-wrap
  margin-top: 40px
  .list
    display: flex
    flex-wrap: wrap
    .link
      margin: 0 3px 3px 0
      width: 30px
      height: 30px
      a
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        border: none
        background: var(--dark-gray-color)
        color: var(--light-color)
        &:hover
          opacity: .8
      a.active
        background: var(--primary-color)

