.global-wrap
  display: flex
  flex-direction: row
  justify-content: space-between
  .posts
    min-width: 65%
    margin: 40px 0 10px 200px

.feed
  width: 100%

@media screen and (max-width: 1199px)
  .global-wrap
    .posts
      margin-left: 0
