<app-loading *ngIf='isLoading$ | async'></app-loading>

<app-error-message *ngIf='error$ | async'></app-error-message>

<div class='info-wrap' *ngIf="article">
  <div class='top'>
    <div class="top-main">
      <div class='author'>
        <div class='avatar'>
            <img [src]='article.author.image'
                 alt='avatar'
            />
        </div>
        <div class='info'>
          <div class='name'>
            <a [routerLink]="['/profiles', article.author.username]">
              {{article.author.username}}
            </a>
          </div>
          <span class='date'>
            <p>
              {{article.createdAt | date: 'longDate': undefined: 'ua'}}
            </p>
          </span>
        </div>
      </div>
      <div class='btns-top'>
        <button class='follow'>
          + Подписаться {{article.author.username}}
        </button>
        <button class='favorite'>
          Любимые статьи
        </button>
      </div>
    </div>
  </div>
  <div class='bottom'>
    <div class="bottom-main">
      <div class="article">
        <div class="title">
          <p>
            {{article.title}}
          </p>
        </div>
        <div class="body">
          <p>
            {{article.body}}
          </p>
        </div>
      </div>
      <div class="btns-bottom"
           *ngIf="isAuthor$ | async"
        >
        <button class='edit'
                [routerLink]="['/articles', article.slug, 'edit']"
        >
          Редактировать статью
        </button>
        <button class='delete'
                (click)='deleteArticle()'
        >
          Удалить статью
        </button>
      </div>
    </div>
  </div>
</div>
