<div class='toggler-wrap'>
  <ul class='toggle-list-login' *ngIf='isLoggedIn$ | async; else elseBlock'>
    <li>
      <a class='my-posts'
         [routerLink]="['/feed']"
         routerLinkActive='active'
      >
        Мои посты
      </a>
    </li>
    <li>
      <a class='main-posts'
         [routerLink]="['/']"
         routerLinkActive='active'
      >
        Общие посты
      </a>
    </li>
    <li *ngIf='tagNameProps'>
      <a class='tags'
         [routerLink]="['/tags', tagNameProps]"
         routerLinkActive='active'
      >
        {{tagNameProps}}
      </a>
    </li>
  </ul>

  <ng-template #elseBlock>
    <ul class='toggle-list-logout' >
      <li>
        <a class='main-posts'
           [routerLink]="['/']"
           routerLinkActive='active'
        >
          Общие посты
        </a>
      </li>
    </ul>
  </ng-template>
</div>
