@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: border-box

\:root
  --primary-color: #5cb85c
  --dark-color: #00000f
  --light-color: #ffffff
  --gray-color: #55595c

.navbar
  height: 55px
  display: flex
  justify-content: flex-start
  align-items: center
  p
    margin-left: 50px
    font-size: 25px
    color: var(--primary-color)

.main-layout
  width: 100%
  height: 800px
  display: flex
  justify-content: center

input
  width: 440px
  height: 50px
  border: 1px solid var(--gray-color)
  border-radius: 5px
  margin-bottom: 15px
  color: var(--gray-color)
  padding-left: 24px
  font-size: 20px
