@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: border-box

\:root
  --primary-color: #5cb85c
  --dark-color: #00000f
  --light-color: #ffffff
  --gray-color: #e9e9e9
  --dark-gray-color: #a9a9a9

.main-layout
  width: 100%
  height: 800px
  display: flex
  justify-content: center

input
  width: 540px
  height: 50px
  border: 1px solid var(--gray-color)
  border-radius: 5px
  margin-bottom: 15px
  padding-left: 24px
  font-size: 20px
  &::-webkit-input-placeholder
    color: var(--dark-gray-color)

a
  text-decoration: none











.navbar
  height: 55px
  display: flex
  justify-content: space-between
  align-items: center
  .logo
    margin-left: 75px
    font-size: 25px
    font-weight: 600
    a
      color: var(--primary-color)

  .list
    display: flex
    justify-content: space-between
    align-items: center
    width: 250px
    margin-right: 75px
    list-style: none
    .link a
      color: var(--dark-gray-color)
    .link a.active
      color: var(--dark-color)
      font-weight: 400
