<div *ngIf='isLoading$ | async'>
  Загрузка...
</div>

<div *ngIf='error$ | async'>
  Произошли ошибки
</div>

<div *ngIf='feed$ | async'>
  <div class='article-wrap'
       *ngFor='let article of (feed$ | async).articles'
  >
    <div class='author'>
      <a [routerLink]="['/profiles', article.author.username]">
        <div class='image'>
          <img [src]='article.author.image'
               alt='avatar'
          />
        </div>
      </a>
      <div class='info'>
        <a [routerLink]="['/profiles', article.author.username]">
          {{article.author.username}}
        </a>
        <span class='date'>
          {{article.createdAt | date: 'longDate': undefined: 'ua'}}
        </span>
      </div>
      <div class='favorites'>
        Добавить в избранное
      </div>
    </div>
  </div>
</div>
