<app-loading *ngIf='isLoading$ | async'></app-loading>

<app-error-message *ngIf='error$ | async'></app-error-message>

<div class='article-wrap'>
  <ul *ngIf='feed$ | async'>
    <li class='article'
         *ngFor='let article of (feed$ | async).articles'
    >
      <div class='author'>
        <div class='avatar'>
          <a [routerLink]="['/profiles', article.author.username]">
            <img [src]='article.author.image'
                 alt='avatar'
            />
          </a>
          <div class='info'>
            <a [routerLink]="['/profiles', article.author.username]">
              {{article.author.username}}
            </a>
            <span class='date'>
          {{article.createdAt | date: 'longDate': undefined: 'ua'}}
        </span>
          </div>
        </div>
        <div class='favorites'>
          Добавить в избранное
        </div>
      </div>
      <div class='titles'>
        <a [routerLink]="['/articles', article.slug]">
          <h1>
            {{article.title}}
          </h1>
        </a>
        <p>
          {{article.description}}
        </p>
      </div>
      <div class='description'>
        <div class='more'>
          <a [routerLink]="['/']">
            Показать больше...
          </a>
        </div>
        <app-tag-list [tags]='article.tagList'>
        </app-tag-list>
      </div>
    </li>

    <app-pagination [total]='(feed$ | async).articlesCount'
                    [limit]='limit'
                    [url]='baseUrl'
                    [currentPage]='currentPage'
    >
    </app-pagination>

  </ul>
</div>

