.banner-wrap
  width: 100%
  min-height: 150px
  background: var(--primary-color)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .titles
    text-align: center
    color: var(--light-color)
    h1
      font-size: 65px
      font-weight: 200
    p
      font-size: 19px
      font-weight: 200
    @media screen and (max-width: 425px)
      h1
        font-size: 43px
      p
        font-size: 13px
